body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url("First\ image\ app.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    text-align: center;
    margin: 40px auto;
    background-image:url("Second\ image\ app.png");
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #2e8b57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #246b45;
}

hr {
    margin: 20px 0;
}
